/* RESET */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    text-decoration:none;
    color:white;
    font-family:sans-serif;
}
html,body{
    width:100%;
    height:100%;
}

/* BODY BACKGROUND */
body{
    /* background: linear-gradient(
        205deg,
        #1c1d20 0%,
        #141517 30%,
        #0e0f11 55%,
        #08090a 80%,
        #040405 100%
    );
    background-attachment: fixed; */
    background-color: black;
}


/* NAVBAR */
.nav{
    position:absolute;
    top:20px;
    right:0;
    display:flex;
    align-items:center;
    background:rgb(33, 0, 0);
    height:50px;
    border-radius:30px 0 0 30px;
    z-index:1;  
}
.navlink{
    display:flex;
    gap:24px;
    padding:0 18px 0px 28px;
}
.nav a{
    font-size:16px;
    border-bottom:1px solid transparent;
    transition:0.2s;
    font-weight: 550;
    letter-spacing: 1.5px;
    color: #ffdede;
}
.nav a:hover{
    color:#ffafaf;
    border-bottom:1px solid #f5c9c9;
    transform:scale(1.05);
}


/* HERO SECTION */
.top{
    height:65vh;
    background: linear-gradient(90deg,rgb(53, 0, 0),rgb(116, 49, 49));
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;
    gap:15px;
    position: relative;
}


/* LOGO AREA */
.logo{
    position:absolute;
    top:20px;
    left:40px;
    display:flex;
    align-items:center;
    gap:8px;
}
.logo img{
    position: relative;
    height:35px;
    width:auto;
    top: -2.5px;
}
.logo_text{
    display:flex;
    align-items:center;
    gap:6px;
    font-size: 14px;
}
.logo_text h1,p{
    font-size: 23px;
    color: rgb(255, 213, 213);
}
.logo_text p{
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0.4px;
}


/* DOODLE */
.doodle{
    position:absolute;
    top:90px;
    right: 210px;
    z-index: 1;
}
.doodle img{
    height: 330px;
    width:auto;
}


/* TITLE */
.caption_text{
    position:relative;
    display:flex;
    flex-direction: column;
    left: -170px;
    margin-top: 0px;
}
.title{
    font-size:50px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 1px;
}
.subtitle{
    font-size:17px;
    color:#c9c7c7;
}
.search_box{
    margin-top: 25px;
    display:flex;
    align-items:center;
    background:rgb(30, 1, 1);
    padding:10px 15px;
    border-radius:10px;
    gap:10px;
}
.search_icon{
    height:18px;
}
.search_box textarea{
    background:transparent;
    font-size:16px;
    width: 100%;
    height: 100%;
    letter-spacing: 0.6px;
    border:none;
    outline:none;
    resize:none;
    height: 30px;
    padding-top: 6.8px;
}

.caption_btn{
    margin-top: 12px;
    margin-left: 10px;
    padding:7px 10px;
    background:#ffafaf;
    color:black;
    border:none;
    border-radius:10px;
    font-size:17.5px;
    font-weight: 600;
    cursor:pointer;
    width: 90px;
    transition: 0.1s;
}
.caption_btn:hover{
    background:#ff8f8f;
    font-weight: 700;
    transform:scale(1.02);
}


/* HELP OPTIONS */
.help_options{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    gap:30px;
    padding:35px;
    background-color: rgba(255, 193, 193, 0.96);
    width:1100px;
    margin:auto;
    border-radius:10px;
    position:relative;
    top: -58px;
}
.option{
    background:#190101;
    padding:15px 0px 15px 0px;
    border-radius:15px;
    text-align:center;
    transition:0.3s;
}
.option:hover{
    transform:translateY(-5px);
}
.option img{
    height:22px;
    margin-bottom:3px;
}
.option h2{
    margin-bottom:1px;
    font-size: 22px;
    letter-spacing: 1px;
}
.option p{
    font-size:14px;
    font-style: italic;
    letter-spacing: 0.5px;
}
.option form{
    padding:0 20px;
}
.option textarea{
    width:100%;
    margin-top:10px;
    padding:5px;
    border-radius:8px;
    border:none;
    outline:none;
    resize:none;
    height:60px;
    font-size:17px;
    letter-spacing: 1px;
    color: black;
}
.option button{
    margin-top:10px;
    padding:6px 12px;
    border:none;
    border-radius:8px;
    background:#ffafaf;
    color:black;
    cursor:pointer;
    font-weight:600;
    transition:0.2s;
}
.option button:hover{
    background:#ff8f8f;
}