* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    text-decoration: none;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    background: linear-gradient(
        205deg,
        #1c1d20 0%,
        #141517 30%,
        #0e0f11 55%,
        #08090a 80%,
        #040405 100%
    );

    background-attachment: fixed;
}


/* SIDEBAR */
.menu-btn {
    position: fixed;
    left: 60px;
    top: 4px;
    font-size: 30px;
    cursor: pointer;
    z-index: 1001;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.1s ease;
    border-radius: 50%;
}
.menu-btn:hover {
    background-color: rgba(255, 255, 255, 0.164);
    border-radius: 50%;
}


.all{
    display: flex;
    width: 100%;
    min-height: 100vh;
    padding-top: 60px;
}
.sidebar{
    position: fixed;
    top: 60px;
    left: -260px;
    width: 200px;
    height: calc(100vh - 60px);
    overflow: hidden;
    background-color: rgba(18, 18, 18, 0.204);
    border-right: 1px solid rgba(255, 255, 255, 0.08);
    transition: all 0.3s ease;
    z-index: 1002;
}

.designation{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 9px;
    font-family: cursive;
    font-weight: 550;
    border-bottom: 2px solid rgba(255, 255, 255, 0.08);
}
.designation h3{
    color: rgb(255, 250, 207);  
    font-size: 19px;
    letter-spacing: 1.2px;
}
.designation h2{
    color: rgb(255, 250, 207);  
    font-size: 18px;
    letter-spacing: 1px;
}
.sidebar-items {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    margin-top: 57px;
}
.sidebar-items a {
    padding: 22px 30px;
    font-size: 18px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: 1.5px;
    transition: all 0.2s ease;
    background-color: rgba(66, 66, 66, 0.138);
    border: 1px solid rgba(255, 255, 255, 0.045);
}
.sidebar-items a:hover {
    background-color: rgba(255, 255, 255, 0.07);
    padding-left: 40px;
}
.logout {
    position: absolute;
    bottom: 20px;
    left: 35px;
    width: 60%;
    background-color: rgb(211, 0, 0);
    text-align: center;
    padding: 10px 0px;
    border-radius: 10px 10px;
    transition: all 0.1s ease;
    border: none;
    cursor: pointer;
}
.logout a {
    color: rgb(255, 211, 211);
    font-size: 20px;
    font-weight: bold;
    font-family: monospace;
}
.logout:hover {
    background-color: rgb(140, 4, 4);
}


/* MAIN CONTENT */
.main{
    height: auto;
    padding-top: 45px;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    transition: all 0.2s ease;
    margin: 20px 0px;
    margin-left: 132px;
    margin-right: 0px;
}
.section{
    display: none;
}
.active{
    display: block;
}

/* CARD CONTAINER */
.card-container{
    display: flex;
    flex-wrap: wrap;
    column-gap: 70px;
    row-gap: 90px;
}
.card{
    width: 360px;
    background: linear-gradient(45deg, rgba(95, 94, 94, 0.373), rgba(70, 68, 68, 0));
    border-right: rgba(45, 45, 45, 0.897) 1px solid;
    border-radius: 20px;
    overflow: hidden;
    transition: 0.3s;
    display: flex;
    flex-direction: column;
}
.card:hover{
    transform: scale(1.02);
}
.card-logo{
    display: flex;
    padding: 4px 0px 0px 8px;

}
.card-logo img{
    height: 25px;
    width: 39px;
}
.card-logo small{
    font-size: 20px;
    margin: 2px 4px 0px 3px;
}
.card-logo p{
    display: flex;
    align-items: center;
    font-size: 13px;
    font-weight: 550;
    margin: 5px 0px 0px 0px;
    font-family: sans-serif;
    letter-spacing: 1px;
}
.top-section{
    margin: 8px 10px 0px 10px;
    height: 170px;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
}
.top-section img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.bottom-section{
    padding-top: 32px;
    padding-bottom: 20px;
    text-align: center;
}
.bottom-section h2{
    font-size: 25px;
    margin-bottom: 27px;
    letter-spacing: 2px;
    font-family: sans-serif;

    background-image: url("/images/back1.png");
    background-size: cover;
    background-position: center;

    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}
.row{
    display: flex;
    justify-content: space-between;
}
.item{
    flex: 1;
    text-align: center;
}
.big-text{
    display: block;
    font-size: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgba(255, 255, 255, 0.384);
    letter-spacing: 0.5px;
    margin-bottom: 5px;
}
.item small{
    font-size: 13px;
}


/* NAVBAR */
.nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(18, 19, 21, 0.589);
    border-bottom: 1px solid rgba(255, 255, 255, 0.105);
}
.nav_ins{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #222224;
    width: auto;
    margin: 0;
    height: 60px;
    border-radius: 15px 15px 0px 0px;
}
.left-part {
    height: 100%;
    width: 190px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0px 0px 0px 6px;
    gap: 5px;
}
.small {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease;
}
.small p {
    transition: all 0.1s ease;
}
.small p:hover {
    scale: 1.05;
}
.small small {
    font-size: 11px;
    padding-top: 3px;
    margin-left: 5px;
    letter-spacing: 0.7px;
    color: rgb(117, 117, 117);
}
.logo {
    height: 40px;
    width: 55px;
    padding-left: 1px;
}
.edushelf {
    font-size: 19px;
    font-weight: 550;
    margin: 4px 0px 0px 6px;
    font-family: sans-serif;
    letter-spacing: 1px;
}
.nav_items {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: auto;
    height: 49px;
    margin: 1px 25px 0px 25px;
    border-radius: 7px;
    background-color: rgba(18, 18, 19, 0.873);
}
.search_box {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 458px;
    height: 30px;
    background-color: rgba(18, 18, 19, 0.873);
    border-radius: 7px;
    margin: 0px 5px 0px 26px;
}
.search_icon {
    height: 18px;
    width: 18px;
}
.search {
    background: transparent;
    border: none;
    outline: none;
    color: rgb(246, 247, 202);
    width: 100%;
    padding-left: 14px;
    padding-top: 1.8px;
    letter-spacing: 0.8px;
    font-size: 15.8px;
    font-weight: 550;
}
.items {
    display: flex;
    justify-content: end;
    font-size: 17px;
    letter-spacing: 0.3px;
    font-family: monospace;
    margin-right: 40px;
    gap: 55px;
}
.items a {
    transition: all 0.2s ease;
}
.items a:hover {
    color: rgb(117, 117, 117);
    text-decoration: underline;
}
.help {
    margin-left: auto;
    padding-right: 25px;
}
.help a {
    font-family: monospace;
    letter-spacing: -0.8px;
    font-size: 20px;
    color: #fc2727;
    transition: all 0.1s ease;
}
.help a:hover {
    text-decoration: underline;
    color: rgba(241, 31, 31, 0.827);
}


/* PROFILE IMAGE */
.image {
    position: fixed;
    top: 8px;
    right: 70px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 1px solid rgb(201, 201, 201);
    overflow: hidden;
    cursor: pointer;
    z-index: 1003;
    transition: all 0.1s ease;
}
.image img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}
.image:hover {
    opacity: 0.7;
}


