*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Poppins,sans-serif;
}
body{
    background:#0a1224;
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
    padding:30px;
}

/* EDUSHELF designation */
.nav{
    position:absolute;
    top:15px;
    left:15px;
}
.logo{
    display:flex;
    flex-direction:row;
    align-items:center;
}
.logo img{
    width:60px;
}
.logo h1{
    color:#dceff8;
    font-size:24px;
    margin-left:5px;
    margin-top:4px;
}


.container{
    width:100%;
    max-width:900px;
    text-align:center;
}

.container h1{
    color:#fff;
    font-size:38px;
    margin-bottom:10px;
}

.subtitle{
    color:#b6b6b6;
    margin-bottom:50px;
}

.cards{
    display:flex;
    gap:30px;
    flex-wrap:wrap;
    justify-content:center;
}

.card{
    background:#1e293b;
    width:360px;
    padding:35px 30px;
    border-radius:18px;
    transition:.3s;
    border:1px solid #334155;
}

.card:hover{
    transform:translateY(-8px);
    box-shadow:0 15px 35px rgba(0,0,0,.35);
}

.icon{
    width:80px;
    height:80px;
    background:#2563eb;
    color:#fff;
    margin:auto;
    border-radius:50%;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:32px;
    margin-bottom:25px;
}

.forgot{
    background:#dc2626;
}

.card h2{
    color:#fff;
    margin-bottom:15px;
}
.card p{
    color:#cbd5e1;
    line-height:1.7;
    margin-bottom:30px;
}

.btn{
    display:inline-block;
    width:100%;
    text-decoration:none;
    padding:14px;
    border-radius:10px;
    background:#2563eb;
    color:#fff;
    font-weight:600;
    transition:.3s;
}
.btn:hover{
    background:#1d4ed8;
}
.forgot-btn{
    background:#dc2626;
}
.forgot-btn:hover{
    background:#b91c1c;
}


@media(max-width:800px){
    .cards{
        flex-direction:column;
        align-items:center;
    }
    .card{
        width:100%;
        max-width:420px;
    }
    .container h1{
        font-size:30px;
        padding-top: 65px;
    }
}