*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    background:#0b0f18;
    color:white;
    font-family:'Segoe UI',sans-serif;
    min-height:100vh;
    padding:30px 15px;
}

.container{
    max-width:900px;
    margin:auto;
}
.edit-card{
    background:#101827;
    border:1px solid #2d3748;
    border-radius:20px;
    padding:35px;
}
.header{
    text-align:center;
    margin-bottom:35px;
}
.header h1{
    margin-bottom:8px;
}
.header p{
    color:#9ca3af;
}

.profile-section{
    display:flex;
    justify-content:center;
    margin-bottom:35px;
}
.image-wrapper{
    text-align:center;
}
.profile-image{
    width:150px;
    height:150px;
    border-radius:50%;
    object-fit:cover;
    border:3px solid #2d3748;
}

.upload-btn{
    display:block;
    margin-top:15px;
    padding:12px;
    border-radius:10px;
    cursor:pointer;
    background:rgba(138,92,246,.15);
    border:1px solid #8b5cf6;
}

.form-grid{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:20px;
}

.input-group{
    display:flex;
    flex-direction:column;
}

.input-group label{
    margin-bottom:8px;
    color:#d1d5db;
    font-size:14px;
}
.input-group select{
    width:100%;
    padding:14px;
    border-radius:12px;
    border:1px solid #2d3748;
    background:#0b0f18;
    color:white;
    outline:none;
    font-size:15px;
}
.input-group select:focus{
    border-color:#8b5cf6;
}
.input-group input{
    background:#0b0f18;
    border:1px solid #2d3748;
    color:white;
    padding:14px;
    border-radius:12px;
    outline:none;
}
.input-group input:focus{
    border-color:#8b5cf6;
}

.readonly-box{
    margin-top:35px;
    border:1px solid #2d3748;
    border-radius:15px;
    padding:20px;
    background:#0b0f18;
}
.readonly-box h3{
    margin-bottom:20px;
}
.readonly-row{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:14px 0;
    border-bottom:1px solid #2d3748;
}
.readonly-row:last-child{
    border-bottom:none;
}
.readonly-row span{
    color:#9ca3af;
}

.button-group{
    display:flex;
    gap:15px;
    margin-top:30px;
}

.cancel-btn{
    flex:1;
    text-decoration:none;
    text-align:center;
    padding:15px;
    border-radius:12px;
    border:1px solid #8b5cf6;
    color:white;
    transition:.2s;
}
.cancel-btn:hover{
    background:rgba(138,92,246,.15);
}

.save-btn{
    flex:1;
    border:none;
    border-radius:12px;
    padding:15px;
    color:white;
    cursor:pointer;
    background:linear-gradient(
        90deg,
        #5d2cce,
        #c22473
    );
}
.save-btn:hover{
    opacity:.8;
}

@media(max-width:768px){
    .form-grid{
        grid-template-columns:1fr;
    }
    .full-width{
        grid-column:auto;
    }
    .readonly-row{
        flex-direction:column;
        align-items:flex-start;
        gap:5px;
    }
    .button-group{
        flex-direction:column;
    }
}