<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DASHBOARD</title>
    <link rel="stylesheet" href="/css/dashboard.css">
</head>
<body>

    <!-- MENU BUTTON -->
    <div class="menu-btn" onclick="toggleMenu()">☰</div>

    <div class="all">

        <!-- SIDE BAR -->
        <div class="sidebar" id="sidebar">
            <div class="sidebar-items">
                <a href="#">Profile</a>
                <a href="#">Dashboard</a>
                <a href="#">All Branch</a>
                <a href="#">Subscription</a>
                <a href="#">Star</a>
                <a href="#">Support</a>
            </div>
            <div class="logout">
                <a href="#">Log Out</a>
            </div>
        </div>
        
        <!-- MAIN CONTENT -->
        <div class="main">
            <p>THE PRINCE PATRA</p>
            <p>THE PRINCE PATRA</p>
        </div>
     </div>
    
     
    <!-- NAVBAR -->
    <div class="nav">
        <div class="nav_ins">

            <div class="name">
                <img src="images/logo_bgremove.png" class="logo" alt="EDlogo">

                <div class="small">
                    <p class="edushelf">EDUSHELF</p>
                    <small>Click to know about us</small>
                </div>
            </div>

            <div class="nav_items">

                <div class="search_box">
                    <img src="images/search1.png" alt="Search Icon" class="search_icon">

                    <input type="search" placeholder="Search" class="search">
                </div>

                <div class="items">
                    <a href="allbranch.html">All Branch</a>
                    <a href="subscription.html">Subscription</a>
                    <a href="star.html">Star</a>
                </div>

            </div>

            <div class="help">
                <a href="support.html">Edu-Support</a>
            </div>

        </div>

    </div>



    
    <script src="/js/dashboard.js"></script>

</body>
</html>