<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="min-h-screen bg-zinc-900 p-10 text-white">
        <div class="nav mb-10">    
            <a class="text-blue-500 text-lg">Edit According to your Preference</a>
        </div>

        <h1 class="text-4xl tracking-tighter mb-7">Enter Your Details</h1>

        <div class="outside flex flex-row gap-10 ">
            <form action="/edited/<%= oneuser._id %>" method="POST" class="flex flex-col gap-6">
        
                <div class="obj flex flex-row gap-2">
                    <h4 class="py-4 text-gray-400">Change Name-</h4>
                    <input type="text" value="<%= oneuser.name %>" class="px-3 py-2 w-96 border-2 border-zinc-800 outline-none rounded-lg bg-transparent" name="changedname">
                </div>
                <div class="obj flex flex-row gap-2">
                    <h4 class="py-4 text-gray-400">Change Email-</h4>
                    <input type="text" value="<%= oneuser.email %>" class="px-3 py-2 w-96 border-2 border-zinc-800 outline-none rounded-lg bg-transparent" name="changedemail">
                </div>
                <div class="obj flex flex-row gap-2">
                    <h4 class="py-4 text-gray-400">Change Image-</h4>
                    <input type="text" value="<%= oneuser.password %>" class="px-3 py-2 w-96 border-2 border-zinc-800 outline-none rounded-lg bg-transparent" name="changedimage">
                </div>

                <div class="button flex flex-row gap-4 justify-end">
                    <input type="submit" value="Submit" class="cursor-pointer m-1 p-2 bg-blue-600 text-white border-blue-600 rounded-lg">
                    <input type="submit" value="Delete" class="cursor-pointer m-1 p-2 bg-red-600 text-white border-red-600 rounded-lg">
                </div>
            </form>
        </div>

        
    </div>
</body>
</html>