<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing</title>
    <link rel="stylesheet" href="css/landing.css">
</head>

<body>

<div class="top_img">

    <img src="images/frame.png" alt="bg_frame" class="bg-img">

    <!-- NAVBAR -->
    <div class="nav">

        <div class="nav-top">
            <img src="images/logo_bgremove.png" alt="logo">
            <p class="edushelf">EDUSHELF</p>
        </div>

        <div class="nav-links">
            <p class="nav-item">Description</p>
            <p class="nav-item">Features</p>
            <p class="nav-item">Contact</p>
            <p class="nav-item">Help</p>
            <a class="nav-item2" href="/access-notes"><p>Access Notes</p></a>
        </div>

    </div>

    <!-- FEATURES -->
    <div class="data">
        <div class="data_style">
            <div class="icon">📚</div>
            <div class="text">
                <p>All Streams Notes</p>
                <sub>CSE, Civil, ECE...</sub>
            </div>
        </div>

        <div class="data_style">
            <div class="icon">🎓</div>
            <div class="text">
                <p>Student-Centric Design</p>
                <sub>Made for learning</sub>
            </div>
        </div>

        <div class="data_style">
            <div class="icon">🗂️</div>
            <div class="text">
                <p>Structured & Clean</p>
                <sub>Clear, clutter-free organization</sub>
            </div>
        </div>
    </div>

    <!-- CAPTION -->
    <div class="caption">
        A Digital Shelf, Designed for Smarter
        <span>Learning</span>.
    </div>

    <!-- BUTTONS -->
    <div class="login_up">
        <a href="/login"><button class="login">Log in</button></a>
        <a href="/signup"><button class="signup">Sign up</button></a>
    </div>

    <!-- FOOTER TAG -->
    <div class="tag">Designed by: 
        <div class="tag-ins">
            <a href="https://www.instagram.com/theprincepatra/" target="_blank">Prince Patra</a>
             & 
             <a href="https://www.instagram.com/thepritishsenapati?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==" target="_blank">Pritish Senapati</a>
        </div>
    </div>

</body>
</html>