<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EduShelf Login</title>
    <link rel="stylesheet" href="css/login.css">

</head>

<body>

    <div class="container">

        <!-- Left Section -->
        <div class="left">
            <div class="l_designation">
                <img class="logo" src="/images/logo_bgremove.png" alt="logo">
                <div class="designation">
                    <h1 class="edushelf">EduShelf</h1>
                    <p class="tagline">Learn. Build. Grow</p>
                </div>
            </div>

            <div class="features">
                <div class="feature">🚀 Smart Learning</div>
                <div class="feature">💡 Skill Building</div>
                <div class="feature">📈 Career Growth</div>
            </div>
        </div>

        <!-- Login Card -->
        <div class="login-card">
            <div class="top">
                <span>Sign in to EDUSHELF</span>
                <p>Welcome back!</p>
            </div>

            <form action="/login" method="POST">
                <img class="mailicon" src="/images/mail_logo.png" alt="Mail Logo">
                <input id="email" type="text" placeholder="Email" name="email">
                <p class="error" id="emailError"></p>

                <div class="password-wrapper">
                    <img class="passicon" src="/images/pass_logo.png" alt="">
                    <input
                        id="password" class="passinput" type="password" placeholder="Password" name="password">

                    <img src="/images/eye-closed.png" class="eye-icon" onclick="togglePassword()">
                </div>
                
                <p class="error" id="passwordError"></p>
                <button class="signin-btn" type="submit">Sign In</button>
            </form>

            <a class="forgot" href="/forgot-password">Forgot password?</a>
            <div class="divider">OR</div>

            <!-- Signup Section -->
            <form class="signup-section" method="GET" action="/signup">
                <button type="submit" class="signup">SIGN UP</button>
                <p class="create">Create new account</p>
            </form>
        </div>

    </div>

    <script src="js/login.js"></script>

</body>

</html>