<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Password Settings</title>

<link rel="stylesheet" href="/css/password.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">

</head>
<body>
    <div class="nav">
        <div class="logo">
            <img src="/images/logo_bgremove.png" alt="logo">

            <div class="logo_text">
                <h1>EDUSHELF</h1>
            </div>
        </div>
    </div>

    <div class="container">

        <h1>Password & Security</h1>
        <p class="subtitle">Manage your account password securely.</p>

        <div class="cards">
            <div class="card">
                <div class="icon">
                    <i class="fa-solid fa-key"></i>
                </div>
                <h2>Change Password</h2>
                <p>Update your current password by entering your old password and choosing a new secure password.</p>
                <a href="/change-password" class="btn">Change Password</a>
            </div>

            <div class="card">
                <div class="icon forgot">
                    <i class="fa-solid fa-lock-open"></i>
                </div>

                <h2>Forgot Password</h2>

                <p>Forgot your password? You can securely reset it using the password reset link sent to your registered email.</p>

                <a href="/forgot-password" class="btn forgot-btn">
                    Reset Password
                </a>
            </div>

        </div>

    </div>

</body>
</html>