<!DOCTYPE html>
<html>
<head>
    <title><%= subject %></title>
</head>
<body>

<h1><%= subject %></h1>

<div>

    <a href="#">
        <button>📘 Notes</button>
    </a>

    <br><br>

    <a href="#">
        <button>📑 Assignments</button>
    </a>

    <br><br>

    <a href="#">
        <button>📚 Assignment Book</button>
    </a>

    <br><br>

    <a href="#">
        <button>📝 Lesson Plan</button>
    </a>

    <br><br>

    <a href="#">
        <button>📂 PYQ</button>
    </a>

    <br><br>

    <a href="#">
        <button>🎯 Quiz</button>
    </a>

</div>

</body>
</html>