<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EduShelf Sign Up</title>
    <link rel="stylesheet" href="/css/signup.css">
</head>

<body>

    <div class="container">

        <!-- Right Section -->
        <div class="right">
            <div class="r_designation">
                <img class="logo" src="/images/logo_bgremove.png" alt="logo">
                <div class="designation">
                    <h1 class="edushelf">EduShelf</h1>
                    <p class="tagline">Learn. Build. Grow</p>
                </div>
            </div>

            <div class="features">
                <div class="feature">🚀 Smart Learning</div>
                <div class="feature">💡 Skill Building</div>
                <div class="feature">📈 Career Growth</div>
            </div>
        </div>

        
        <div class="login-card">

            <div class="top">
                <span>Create Your Account</span>
                <p>Welcome to EduShelf</p>
            </div>

            <form action="/signup" method="POST">

                <div class="input-group">
                    <img class="user_icon icon" src="/images/user_logo.png">
                    <input type="text" placeholder="Full Name" name="name">
                    <small class="error"></small>
                </div>

                <div class="input-group">
                    <img class="user_icon icon" src="/images/user_logo.png">
                    <input type="text" placeholder="Username" name="username">
                    <small class="error"></small>
                </div>

                <div class="input-group">
                    <img class="mail_icon icon" src="/images/mail_logo.png">
                    <input type="text" placeholder="Email" name="email">
                    <small class="error"></small>
                </div>

                <div class="input-group">
                    <img class="otp_icon icon" src="/images/otp_logo.png">
                    <div class="otp">
                        <input type="text" inputmode="numeric" maxlength="6" placeholder="OTP" name="otp">
                        <input type="button" value="Get OTP" class="otp-btn">
                    </div>
                    <small class="error"></small>
                </div>

                <div class="input-group">
                    <img class="pass_icon icon" src="/images/pass_logo.png">
                    <input type="password" placeholder="Password" name="password">
                    <small class="error"></small>
                </div>

                <div class="input-group">
                    <img class="confirmpass_icon icon" src="/images/confirmpass_logo.png">
                    <input type="password" placeholder="Confirm Password" name="confirmPassword">
                    <small class="error"></small>
                </div>

                <button type="submit" class="create-btn">Create Account</button>

            </form>

            <div class="divider">OR</div>

            <div class="signin-section">
                <p class="create">Already have an account?</p>
                <a href="/landing-login" class="signin-btn">Sign in</a>
            </div>

        </div>

    </div>

    <script src="/js/signup.js"></script>
</body>

</html>