<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Help Center</title>

<link rel="stylesheet" href="/css/support.css">

</head>

<body>

<!-- NAVBAR -->
<div class="nav">
    <div class="navlink">
        <a href="#">Home</a>
        <a href="#">Downloads</a>
        <a href="#">Subscriptions</a>
    </div>
</div>

<!-- TOP SECTION -->
<div class="top">

    <div class="logo">
        <img src="/images/logo_bgremove.png" alt="logo">

        <div class="logo_text">
            <h1>EDUSHELF</h1>
            <p>| Help Center</p>
        </div>
    </div>

    <div class="doodle">
        <img src="/images/doodle.png" alt="doodle">
    </div>

    <div class="caption_text">
        <h1 class="title">How can we help you?</h1>
        <p class="subtitle">Tell us what you need or where we can improve.</p>
        
        <form action="" class="search_box">
            <img src="/images/search1.png" class="search_icon">
            <textarea name="issue" placeholder="Tell us how we can improve..."></textarea>
        </form>
        <button type="button" class="caption_btn">Share</button>

    </div>

</div>

<!-- HELP OPTIONS -->
<div class="help_options">

    <div class="option">
        <img src="/images/general.png">
        <h2>General Inquiries</h2>
        <p>Tell us what went wrong.</p>
        <form>
            <textarea name="issue" placeholder="Submit your issue here..."></textarea>
            <button type="submit">Submit</button>
        </form>
    </div>
    
    <div class="option">
        <img src="/images/payment.png">
        <h2>Account Issues</h2>
        <p>Having trouble with your account?</p>
        <form>
            <textarea name="issue" placeholder="Submit your issue here..."></textarea>
            <button type="submit">Submit</button>
        </form>
    </div>

    <div class="option">
        <img src="/images/account.png">
        <h2>Payment Issue</h2>
        <p>Report payment issues here.</p>
        <form>
            <textarea name="issue" placeholder="Submit your issue here..."></textarea>
            <button type="submit">Submit</button>
        </form>
    </div>

</div>

</body>
</html>